body {
  margin: 0;
  padding: 0;
  min-width: 940px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.page-header {
  background-color: #f3f7f9;
}

.header-top {
  background-color: #293449;
  height: 42px;
}

.logo {
  font-size: 24px;
  line-height: 24px;
  color:#ffffff;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
  text-transform: uppercase;

  text-align: center;
  display: block;
  width: 220px;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
  border-bottom: 5px solid #9a212a;
}

.logo:active {
  background-color: #ba2732;
  border-bottom: 5px solid #8e1e26;
}

.logo-header {
  padding: 10px 0;
  height: 23px;
}

.search-header input::-webkit-input-placeholder {
   color: #ffffff;
}

.search-header input:active {
   color: #000000;
}

.search-header input {
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #293449;
  border: none;
  padding: 11px 0;
  padding-top: 9px;
  padding-left: 47px;
  width: 270px;
  height: 42px;
}

.search-header {
  position: relative;
}
.search {
  width: 270px;
}

.icon-loop {
  position: absolute;
  display: block;
  background-image: url(../img/icon-search-white.png);
  background-repeat:no-repeat;
  width: 17px;
  height: 17px;
  top: 12px;
  left: 16px;
}

.icon-loop::before {
  content: "";
  background-image: url(../img/icon-search-red.png);
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: none;
}

.search-header input:hover {
  background-color: #212a3a;
}

.search-header input:focus {
  font-family: inherit;
  background-color: #ffffff;
  outline: none;
  border: none;
}

.search-header input:hover ~ .icon-loop {
  position: absolute;
  display: block;
  background-image: url(../img/icon-search.png);
  background-repeat:no-repeat;
  width: 17px;
  height: 17px;
  top: 12px;
  left: 16px;
}

.search-header input:focus ~ .icon-loop::before,
.search-header input:active ~ .icon-loop::before{
  content: "";
  background-image: url(../img/icon-search-red.png);
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: block;
}

/*Навигация в хедере*/
.store-nav {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;

  display: block;
  padding: 10px 0;
}

.store-nav:hover,
.store-nav:focus {
  background-color: #212a3a;
}

.store-nav:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.store-nav-bookmarks {
  padding-left: 43px;
  padding-top: 12px;
  padding-right: 20px;
  max-width: 140px;
  position: relative;
  height: 20px;
}

.store-nav-bookmarks::before {
  content: "";
  background-image: url(../img/icon-bookmark.png);
  background-repeat: no-repeat;
  top: 12px;
  left: 15px;
  height: 16px;
  width: 14px;
  position: absolute;
  opacity: 0.3;

}

.store-nav-bookmarks:hover::before,
.store-nav-bookmarks:focus::before {
  opacity: 1;
}

.store-nav-bookmarks:active::before{
  opacity: 0.5;
}

.store-nav-cart {
  max-width: 120px;
  padding-top: 12px;
  padding-left: 57px;
  padding-right: 30px;
  height: 20px;

  position: relative;
}

.store-nav-cart::before {
  position: absolute;
  content: "";
  background-image: url(../img/cart-icon.png);
  background-repeat: no-repeat;
  top: 12px;
  left: 25px;
  height: 15px;
  width: 15px;
  opacity: 0.3;
}

.store-nav-cart:hover::before,
.store-nav-cart:focus::before {
  opacity: 1;
}

.store-nav-cart:active::before{
  opacity: 0.5;
}

.order {
  display: block;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #63a63e;

  width: 150px;
  height: 20px;
  text-align: center;
  padding: 10px 0;
  padding-top: 12px;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;
}

.order:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #518534;
}

.header-top-wrapper {
  width: 940px;
  display: flex;
  margin: 0 auto;
}

.header-middle {
 width: 940px;
 margin: 0 auto;

 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 padding-top: 49px;
}

.main-heading {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  color: #ee3643;

  width: 200px;
  margin: 0;
  padding-left: 52px;
  margin-right: 70px;
}

.contacts {
  width: 270px;

  margin: 0;
  padding: 0;
  margin-right: 48px;
}

.phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  display: block;
  padding: 6px 0;
  position: relative;
  margin-bottom: 10px;
  padding-left: 65px;
}

.phone::before {
  content: "";
  background-image: url(../img/icon-phone.png);
  background-repeat: no-repeat;
  top: 7px;
  left: 10px;
  height: 19px;
  width: 19px;
  position: absolute;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.login-list-main {
  list-style: none;
  width: 280px;
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  margin-left: auto;
}

.login-list-main-item a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;

  display: block;
  text-align: center;
  padding: 10px 10px;
}

.login-list-main-item a:hover,
.login-list-main-item a:focus {
  color: #ee3643;
}

.login-list-main-item a:active {
  color: #000000;
  opacity: 0.3;
}

.login-list-item-signin a {
  display: block;
  padding-left: 28px;
  position: relative;
}

.login-list-item-signin {
  width: 120px;
}

.login-list-item-signin a::before {
  content: "";
  background-image: url(../img/icon-login.png);
  background-repeat: no-repeat;
  top: 11px;
  left: 13px;
  height: 17px;
  width: 20px;
  position: absolute;
  opacity: 0.3;
}

.login-list-item-signin a:hover::before,
.login-list-item-signin a:focus::before {
  opacity: 1;
}

.login-list-item-signup {
  width: 150px;
}
/*Главная навигация*/
.main-nav {
  background-color: #32425c;

  width: 940px;
  height: 60px;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 60px;
}

.navigation-list {
  width: 940px;
  overflow: hidden;
  list-style: none;
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.navigation-list a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  display: block;
  border-bottom: 5px solid #293449;

  padding: 20px 35px;
  padding-left: 33px;
}

.navigation-list a:hover,
.navigation-list a:focus {
  background-color: #293449;
}

.navigation-list a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
  border-bottom: 5px solid #1d2739;
}

.main {
  background-color: #ffffff;
}
/*услуги*/
.service-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;

  margin: 0;
  padding: 0;
  position: absolute;
  top: 22px;
  left: 22px;
}

.services-list {
  width: 300px;
  height: 125px;
  margin: 0;
  padding: 0;

  position: relative;
}

.services-list-materials {
  position: relative;
  background-color: #ffbf47;
}

.materials-label-new {
  position:absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
  background: url(../img/new-flag.png) no-repeat 0 0;
}

.services-list-tools {
  background-color: #3bbce3;
}

.services-list-technics {
  background-color: #dc91d8;
}

.services-list-sale {
  background-color: #8ed78f;
}

.services-list-delivery {
  background-color: #ffc047;
}

.services-list .add-info {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(197, 197, 197, 0.1);
  text-transform: uppercase;
  text-align: center;

  margin: 0;
  padding:  11px 0;
  display: block;
  width: 135px;
  height: 19px;
  border-radius: 3px;
  position: absolute;
  bottom: 20px;
  left: 24px;
}

.services-list .add-info:hover,
.services-list .add-info:focus {
  background-color: rgba(197, 197, 197, 0.2);
}

.services-list .add-info:active {
  background-color: rgba(197, 197, 197, 0.3);
}

.features {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding-top: 60px;
  margin-bottom: 53px;
}

.horizontal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 620px;
  height: 410px;
}

.vertical {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  width: 300px;
  height: 410px;
}

/*Реализация слайдера*/

.slider {
  margin-top: auto;
  width: 620px;
  height: 266px;
  position: relative;
}

.slider-inner {
  height: 266px;
}

.slider-button {
  position: absolute;
  border: 0;
  background-image: url(../img/icon-right.png);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 22px;
  height: 40px;
  bottom: 112px;
  right: 21px;
}

.button-left {
  background-image: url(../img/icon-left.png);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 22px;
  height: 40px;
  bottom: 112px;
  left: 24px;
}

.slides {
  height: 266px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-navigation {
  position: absolute;
  bottom: 31px;
  left: 291px;
}

.slide-link {
  position: absolute;
  bottom: 21px;
  left: 25px;
  width: 195px;

}

.slider-perforator,
.slider-drill {
  width: 620px;
  height: 266px;
}

.slider-item {
  height: 266px;
  display: none;
}

.slide-label {
  display: inline-block;
  background-image: url(../img/slider-dot.png);
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
  position: relative;
}

.slide-label::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url(../img/slider-indicator.png);
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.input-slide {
  display: none;
}

.input-slide-1:checked ~ .slider-navigation label[for="arrow-left"]::before,
.input-slide-2:checked ~ .slider-navigation label[for="arrow-right"]::before {
  display: block;
}

.input-slide-1:checked ~ .slides .slider-perforator {
  display: block;
}

.input-slide-2:checked ~ .slides .slider-drill {
  display: block;
}

.slider-item-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
  position: absolute;
  left: 23px;
  top: 23px;
}

.slide-description {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  position: absolute;

  top: 61px;
  left: 24px;
  display: block;
  margin: 0;
  padding: 0;
}
/*Популярные товары+популярные производители*/
.catalog-link {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;

  text-transform: uppercase;

  border-radius: 3px;
  padding: 11px 0px;
  text-align: center;
  display: block;
}

.catalog-link:hover,
.catalog-link:focus {
  background-color: #ca2c37;
}

.catalog-link:active {
  background-color: #ba2732;
}

.popular-goods-block {
  background-color: #f9f5f0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 28px;
  padding-right: 25px;
  margin-bottom: 20px;
}

.manufacturers-link,
.popular-goods-link {
  width: 253px;
}

.popular-manufacturers-block {
  background-color: #f9f5f0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 24px;
  margin-bottom: 20px;
}

.popular-goods-title,
.popular-manufacturers-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
}

.popular-goods {
  width: 940px;
  margin: 0 auto;
}

.goods-list-item {
  position: relative;
  display: inline-block;
  width: 218px;
  height: 318px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  font-weight: bold;
  text-align: center;
}

.goods-list-item-price {
  padding: 0;
  margin: 0;
  padding-top: 10px;
}

.label-new {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
  background: url(../img/new-flag.png) no-repeat 0 0;
}

.actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
  }

.actions .buy,
.actions .bookmark{
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.actions .bookmark{
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.actions .buy:hover,
.actions .buy:focus {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #367315;
}

.actions .buy:active {
  background-color: #518534;
  border-color: #518534;
  border-bottom-color: #518534;
}

.actions .bookmark:hover,
.actions .bookmark:focus {
  border-color: #32425c;
}

.actions .bookmark:active {
  opacity: 0.3;
}

.buy {
  position: relative;
}

.buy::before {
  content: "";
  background-image: url(../img/cart-icon.png);
  background-repeat: no-repeat;
  top: 9px;
  left: 10px;
  height: 15px;
  width: 15px;
  position: absolute;
  opacity: 0.3;
}

.buy:hover::before,
.buy:focus::before {
  opacity: 1;
}

.goods-list-item:hover .actions{
  display:block;
}

.goods-list-item img{
  max-width: 100%;
  }

.category-item {
  min-height: 40px;
  padding: 0 25px;

  display: block;
}

.popular-manufacturers {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 65px;
}

.popular-manufacturers-list-item {
  width: 218px;
  height: 143px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-manufacturers-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.goods-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.goods-list-catalog {
  text-transform: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
  margin-bottom: 25px;
}

.goods-list-catalog-item {
  width: 218px;
  height: 318px;
  margin-bottom: 20px;
}

.goods-list li,
.popular-manufacturers-list li {
  border: 1px solid #eaeaea;
}

.goods-list li:hover {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.good-title {
  font-family:"PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-top: 12px;
}

.goods-price-old {
  font-family:"PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #a9a9a9;
  text-decoration: line-through;

  display: block;
}

.goods-price-new {
  font-family:"PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: #ee3643;

  display: block;
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
  margin-left: 42px;
}

.goods-price-new-only {
  display: block;
  margin-top: 30px;
}

.goods-price-new::after{
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.popular-manufacturers-list li:hover {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.popular-manufacturers-list li:active {
  box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}
/*Сервисы*/
.supplies {
  background-color: #f4f8f9;
  padding-top: 65px;
  padding-bottom: 100px;
  margin-bottom: 80px;
}

.supplies-block-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.supplies-info {
  font-family:"PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  margin: 0;
  padding: 0;
}

.supplies-list {
  list-style: none;

  margin: 0;
  padding: 0;
  margin-right: 80px;
  display: block;
  position: relative;
}

.supplies-list-link {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;

  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  background-color: #32425c;

  display: block;
  cursor: pointer;
  padding: 15px 17px;
  padding-left: 23px;
  width: 200px;
}

.supplies-list-link:hover,
.supplies-list-link:focus {
  background-color: #293449;
}

.supplies-list-link:active,
.supplies-list-link-current {
  color: #32425c;
  background-color: #ffffff;
  border: none;
}

.supplies-list-link-current:hover,
.supplies-list-link-current:focus {
  background-color: #ffffff;
}

.supplies-description-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;

  margin: 0;
  padding: 0;

  margin-bottom: 25px;
}

.supplies-description-info {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  margin: 0;
  padding: 0;
}

.enquiry {
  width: 195px;
}
/*Декоративные элементы сервисов*/
.decorative-service-pic-1 {
  width: 44px;
  height: 65px;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;

  position: absolute;
  top: 32px;
  right: 43px;
}

.decorative-service-pic-2 {
  width: 75px;
  height: 61px;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;

  position: absolute;
  top: 34px;
  right: 28px;
}

.decorative-service-pic-3 {
  width: 78px;
  height: 62px;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;

  position: absolute;
  top: 32px;
  right: 31px;
}

.decorative-service-pic-4 {
  width: 59px;
  height: 72px;
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;

  position: absolute;
  top: 25px;
  right: 45px;
}

.decorative-service-pic-5 {
  width: 78px;
  height: 63px;
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;

  position: absolute;
  top: 33px;
  right: 32px;
}

.delivery-decorative-pic1 {
  width: 467px;
  height: 261px;
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
  position: absolute;

  bottom: -130px;
  right: -9px;
}

.delivery-decorative-pic2 {
  width: 388px;
  height: 282px;
  background-image: url(../img/guarantee.png);
  background-repeat: no-repeat;
  position: absolute;

  bottom: -100px;
  right: 0px;
}

.delivery-decorative-pic3 {
  width: 465px;
  height: 285px;
  background-image: url(../img/loan.png);
  background-repeat: no-repeat;
  position: absolute;

  bottom: -105px;
  right: 0px;
}
/*Слайдер в сервисах*/
.supplies-container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.supplies-block {
  width: 400px;
  margin-bottom: 70px;
  margin-right: 400px;
}

.supplies-descriptions {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.supplies-list::before {
  content: "";
  position: absolute;
  background-image: url(../img/line-1.png);
  background-repeat: no-repeat;
  height: 272px;
  width: 10px;
  top: -40px;
  left: 230px;
}

.supplies-description-block {
  display: none;
}

.supplies-description-shipping {
  width: 300px;
  margin: 0;
  padding: 0;
}

.description-guarantee-text {
  width: 380px;
  margin: 0;
  padding: 0;
}

.description-guarantee-loan {
  width: 280px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.supplies-description-delivery,
.supplies-description-guarantee,
.supplies-description-loan {
  width: 610px;
  position: relative;
}

#delivery:checked ~ .supplies-descriptions li:first-child {
  display: block;
}

#guarantee:checked ~ .supplies-descriptions li:nth-child(2) {
  display: block;
}

#loan:checked ~ .supplies-descriptions li:last-child {
  display: block;
}

#delivery:checked ~ .supplies-list li:first-child label,
#guarantee:checked ~ .supplies-list li:nth-child(2) label,
#loan:checked ~ .supplies-list li:last-child label {
  color: #32425c;
  background-color: #ffffff;
  border: none;
}

/*О нас*/

.about-us-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.about-us-techno {
  margin-bottom: 25px;
}

.about-us-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.about-us-2 {
  margin-bottom: 20px;
}

.about-us-3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  margin: 0;
  padding: 0;
  margin-bottom: 31px;
}

.map-link {
  margin-bottom: 34px;
}

.delivery-companies-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    padding-left: 36px;
}

.delivery-companies-list li {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;
  position: relative;
}

.delivery-companies-list li::before {
  content: "";
  position: absolute;
  background-image: url(../img/red-line.png);
  background-repeat: no-repeat;
  width: 25px;
  height: 2px;
  top: 7px;
  left: -35px;
}

.about-us-link {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  width: 220px;
  text-align: center;
}

.about-us {
  display:flex;
  margin: 0 auto;
  width: 940px;
  margin-bottom: 85px;
}

.about-us-wrapper {
  width: 940px;
  display: flex;
  justify-content: space-between;
}

.about-us-left {
  display: flex;
  flex-direction: column;

  width: 540px;
}

.about-us-right {
  display: flex;
  flex-direction: column;
}


/*Стили каталога*/

.login-block div:first-child {
  background-color: #ffffff;
}

.login-block-item a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.login-block-item a:hover,
.login-block-item a:focus {
  color: #ee3643;
}

.login-block-item .login-block-item-myaccount:hover,
.login-block-item .login-block-item-myaccount:focus {
  color: #000000;
}

.login-block-item a:active {
  color: #000000;
  opacity: 0.3;
}

.login-block-item-account a:first-child:hover,
.login-block-item-account a:first-child:focus
 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.login-block-list-item a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.login-block-list-item a:hover,
.login-block-list-item a:focus {
  color: #ee3643;
}

.login-block-list-item a:active {
  color: rgba(50, 66, 92, 0.3);
}

.login-block-item-account {
  position: relative;
}

.main-catalog {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-container {
  width: 940px;
  margin: 0 auto;
  padding-top: 22px;
}

.catalog-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-block {
  width: 700px;
}

.login-block {
  width: 300px;
}

.login-block-item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.login-block-order {
  margin-left: 20px;
}

.login-block-item-myaccount {
  max-width: 300px;
  display: block;
  margin-bottom: 10px;
  padding: 10px 50px;

}

.login-block-item-myaccount-icon {
  display: block;
  background-image: url(../img/icon-user.png);
  background-repeat: no-repeat;
  top: 10px;
  left: 15px;
  height: 18px;
  width: 20px;
  position: absolute;
  opacity: 0.3;
}

.login-block-item-myaccount-icon:hover,
.login-block-item-myaccount-icon:focus {
  opacity: 1;
}

.login-block-item-logout {
  background-image: url(../img/icon-logout.png);
  background-repeat: no-repeat;
  top: 10px;
  right: 10px;
  height: 17px;
  width: 21px;
  position: absolute;
  opacity: 0.3;
}

.login-block-item-logout:hover {
  opacity: 1;
}

.login-block-item-mark {
  position: relative;
  margin-left: 30px;
}

.login-block-item-mark::before {
  content: "";
  position: absolute;
  background-image: url(../img/shape.png);
  background-repeat: no-repeat;
  top: 6px;
  left: -15px;
  height: 17px;
  width: 21px;
  position: absolute;
}
/*Хлебные крошки*/
.breadcrumbs {
  list-style: none;

  margin: 0;
  padding: 0;
  display: flex;
  width: 380px;
  margin-bottom: 20px;
}

.breadcrumbs a {
  display: block;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 41px;
}

.breadcrumbs-item-home a {
  display: block;
  height: 18px;
  width: 14px;
  background-image: url(../img/icon-home.png);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.breadcrumbs-item::after {
  content: "";
  background-image: url(../img/icon-right-small.png);
  background-repeat: no-repeat;
  bottom: 5px;
  right: -24px;
  height: 12px;
  width: 8px;
  position: absolute;
}

.breadcrumbs a,
.filter-manufacturers-title{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}
/*Перфораторы*/
.perforators-block {
  background-color: #f2f6f8;

  width: 940px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 30px 30px;
}

.perforators-block-title{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;

  margin: 0;
  display: block;
}



/*Фильтр*/

.filter-block {
  background-color: #f7f3ec;
  width: 220px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.manufacturers-form-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.manufacturers-form-list-item {
  margin-bottom: 20px;
  padding-left: 35px;
}

.manufacturers-form-fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.form-manufacturer {
  margin-bottom: 23px;
}

.manufacturers-form-fieldset:last-of-type {
  border: none;
}

.range-filter {
  width: 220px;
  margin-bottom: 25px;
}

.range-controls {
  position: relative;

  height: 41px;
  background-color: #f7f3ec;
  border-radius: 5px;
  padding-top: 43px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #00ca74;
}

.range-controls .span-handler {
  position: absolute;
  top: 31px;
  left: 0;
  display: block;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .span-handler-min {
  left: 18px;
}

.range-controls .span-handler-max {
  left: 160px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls {
  font-size: 0;
}

.price-controls input {
  width: 75px;
  padding: 8px 10px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  text-align: center;
  color: #000000;

  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.max-price {
  text-align: right;
  position: relative;
}

.max-price::before {
  position: absolute;
  content: "—";
  top: 10px;
  left: -7px;
}

.filter-legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;

  margin-bottom: 10px;
}

.filter-input-label {
  font-size: 15px;
  line-height: 20px;

  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-label::before {
  content: "";
  background-image: url(../img/checkbox-off-calm.png);
  background-repeat: no-repeat;
  top: 0;
  left: -35px;
  height: 23px;
  width: 23px;
  position: absolute;
}

.filter-input-label:hover::before {
  content: "";
  background-image: url(../img/checkbox-off-hover.png);
  background-repeat: no-repeat;
  top: 0;
  left: -35px;
  height: 23px;
  width: 23px;
  position: absolute;
}

.form-input-checkbox:checked + .filter-input-label::before {
  content: "";
  background-image: url(../img/checkbox-on-calm.png);
  background-repeat: no-repeat;
  top: 0;
  left: -35px;
  height: 23px;
  width: 23px;
  position: absolute;
  display: block;
}

.form-input-checkbox:checked + .filter-input-label:hover::before {
  content: "";
  background-image: url(../img/checkbox-on-hover.png);
  background-repeat: no-repeat;
  top: 0;
  left: -35px;
  height: 23px;
  width: 23px;
  position: absolute;
  display: block;
}

.form-input-checkbox:disabled + .filter-input-label::before {
  opacity: 0.3;
}

.filter-input-label-radio {
    font-size: 15px;
    line-height: 20px;
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-label-radio:hover::before {
  content: "";
  position: absolute;
  background-image: url(../img/radio-off-hover.png);
  background-repeat: no-repeat;
  left: -35px;
  top: 0px;
  width: 25px;
  height: 25px;
}

.filter-input-label-radio::before {
  content: "";
  position: absolute;
  background-image: url(../img/radio-off-calm.png);
  background-repeat: no-repeat;
  left: -35px;
  top: 0px;
  width: 25px;
  height: 25px;
}

.form-input-radio:checked + .filter-input-label-radio::before {
  content: "";
  position: absolute;
  background-image: url(../img/radio-on-calm.png);
  background-repeat: no-repeat;
  border-radius: 50%;
  left: -35px;
  top: 0px;
}

.form-input-radio:checked + .filter-input-label-radio:hover::before {
  content: "";
  position: absolute;
  background-image: url(../img/radio-on-hover.png);
  background-repeat: no-repeat;
  border-radius: 50%;
  left: -35px;
  top: 0px;
}

.form-input-radio:disabled + .filter-input-label-radio::before {
  opacity: 0.3;
}

.form-input {
  display: none;
}

.manufacturers-form input[type=submit] {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  padding: 13px 38px;
}

.filter-sort {
  display: flex;
  width: 700px;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

.filter {
  width: 220px;
}

.filter-manufacturers-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 20px;
}

.power-type {
  margin-bottom: 60px;
}
/*Сортировка по*/
.sort-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 470px;
}

.sort-list a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort-list a:hover,
.sort-list a:focus {
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid #ee3643;
}

.sort-list a:active {
  color: rgba(238, 54, 67, 1);
  border: none;
}

.sort-list li:nth-child(4) a,
.sort-list li:last-child a{
  border: none;
}

.sort-by {
  margin: 0;
  padding: 0;
}

.sort-list li:first-child a{
  margin-left: 10px;
}

.sort-list li:first-child+li a{
  margin-left: 70px;
}

.sort-list li:nth-child(3) a{
  margin-left: 66px;
}

.sort-list li:nth-child(4) {
  padding-top: 5px;
  margin-left: 45px;
}

.sort-list li:last-child a{
  padding-top: 5px;
  margin-left: 18px;
}

.sort-by-arrow-up {
  display: block;
  height: 9px;
  width: 11px;
  background-image: url(../img/icon-up-dir.png);
  background-repeat: no-repeat;
  text-decoration: none;
  opacity: 0.3;
  margin: 0;
  padding: 0;
}

.sort-by-arrow-down {
  display: block;
  height: 9px;
  width: 11px;
  background-image: url(../img/icon-up-dir.png);
  background-repeat: no-repeat;
  transform: rotate(180deg);
  opacity: 0.3;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.sort-by-arrow-up:hover,
.sort-by-arrow-down:hover,
.sort-by-arrow-up:focus,
.sort-by-arrow-down:focus {
  opacity: 1;
}

.sort-by-arrow-up:active {
 background-image: url(../img/icon-up-dir-red.png);
}

.sort-by-arrow-down:active {
 background-image: url(../img/icon-up-dir-red.png);
 transform: rotate(180deg);
}

.page-switcher {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 300px;
  margin-bottom: 60px;
}

.page-switcher li {
  margin-right: 10px;
}

.page-switcher li:last-child {
  margin-right: none;
}

.page-switcher li:first-child a {
  border: none;
}

.page-switcher-item a:hover,
.page-switcher-item a:focus {
  border: 1px solid #bdc6ca;
}

.page-switcher-item a:active {
  border: 1px solid #ee3643;
}

.page-switcher a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  border: 1px solid #e5e5e5;
  border-radius: 3px;

  display: block;
  padding: 10px 15px;
}

.page-switcher-item .next-page {
  padding: 10px 30px;
}

.page-switcher-current a,
.page-switcher-current a:hover,
.page-switcher-current a:focus,
.page-switcher-current a:active {
  background-color: #ee3643;
  border: none;
}

.page-switcher-current a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}
/*О перфораторах*/
.about-perforators {
  background-color: #f2f6f8;
}

.about-perforators-title {
  margin-bottom: 25px;
}

.about-perforators-text {
  font-size: 13px;
  line-height: 24px;
  text-transform: none;

  margin: 0;
  padding: 0;
}

.about-perforators-wrapper {
  padding-top: 65px;
  padding-bottom: 68px;
  width:940px;
  margin: 0 auto;
}

/*Футер*/
.page-footer {
  background-color: #32425c;
}

.footer-top-center {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding-bottom: 50px;
}


.footer-top-wrap {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.footer-top-bottom-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 560px;
}

.logo-footer {
  font-size: 30px;
  line-height: 30px;
  padding: 15px 0;
}

.footer-bottom-center {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.footer-top {
  background-color: #32425c;
}

.footer-address {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;

  padding: 0;
  margin: 0;
  margin-top: 30px;
  width: 350px;
}

.footer-list {
  list-style: none;
  width: 560px;
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.footer-list-yellow {
  width: 540px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 33px;
  margin-left: 20px;
}

.footer-list a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  padding-left: 16px;
}

.footer-list-yellow a {
  font-size: 18px;
  line-height: 24px;
  color: #ffda96;
}

.footer-list a:hover,
.footer-list a:focus,
.footer-list-yellow a:hover,
.footer-list-yellow a:focus {
  text-decoration: underline;
}

.footer-list a:active,
.footer-list-yellow a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-bottom {
  background-color: #293449;

  padding-top: 21px;
  padding-bottom: 30px;
}

.footer-bottom-text {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  display: block;
  width: 230px;
  padding: 0;
  margin-right: 70px;
}

.social-media-list {
  list-style: none;
  width: 130px;

  margin: 0;
  padding: 0;
  margin-left: 92px;
  padding-top: 13px;
  display: flex;
  justify-content: space-between;
}

.social-media-list a {
  display: block;
  width: 41px;
  height: 42px;
  background-color: #212a3a;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.social-media-list a:hover,
.social-media-list a:focus,
.social-media-list a:active {
  background-color: #ee3643;
}

.vk {
  background-image: url(../img/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: 7px 12px;
}

.fb {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: 15px 10px;
}

.in {
  background-image: url(../img/insta-icon.svg);
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

.footer-feedback {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding: 0;
  margin: 0;

  display: block;
  width: 120px;
  margin-left: 120px;
  margin-top: 15px;
  margin-right: 62px;
  text-align: left;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  display: block;
  width: 100px;
  text-align: right;
}

.link-to {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.link-to:hover,
.link-to:focus {
  text-decoration: underline;
}

.link-to:active {
  text-decoration: none;
  color: #ee3643;
}

.modal-window {
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ff5357;
  background-color: #ffffff;

  width: 620px;
  margin: 0 auto;
  position: fixed;
  padding-top: 50px;
  display: none;
  bottom: 200px;
  left: 50%;
  margin-left: -290px;
}

.modal-close {
  position: absolute;
  border: none;
  background-color: transparent;
  background-image: url(../img/close.png);
  background-repeat: no-repeat;
  height: 21px;
  width: 21px;
  top: 10px;
  right: 10px;
}

.write-us-form {
  width: 460px;
  margin: 0 auto;
  position: relative;
}

.half-width {
  display: flex;
  margin-bottom: 25px;
}

.send-btn {
  padding: 10px;
  width: 465px;
  margin-left: 45px;
  border: none;
}

.your-name {
  font-size: 18px;
  line-height: 18px;
  color: #000000;

  display: block;
  width: 220px;
  margin-right: 20px;
}

.your-email {
  font-size: 18px;
  line-height: 18px;
  color: #000000;

  display: block;
  width: 200px;
}

.your-message {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.your-email input,
.your-name input{
  box-sizing: border-box;
  margin-top: 10px;
  padding: 13px 15px;
  width: 190px;
}

.write-us-form input {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  border: 2px solid #dee3e4;
}

.write-us-form input:hover {
  border-color: #b5b5b5;
}

.write-us-form input:focus,
.write-us-form input:active{
  outline: 0;
  border-color: #ee3643;
}

.message-field {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  border: 2px solid #dee3e4;
  width: 456px;
  margin-top: 10px;
  margin-bottom: 34px;
}

.modal-bottom {
  width: 550px;
  padding: 35px;
  margin-left: -80px;
  border: none;
  background-color: #f4f4f4;
}

.write-us-form input[type=submit] {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
}

.write-us-form input[type=submit]:hover,
.write-us-form input[type=submit]:focus {
  background-color: #ca2c37;
}

.write-us-form input[type=submit]:active {
  background-color: #ba2732;
}

.map-pop-up {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -460px;
  margin-top: -230px;
  box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
  background-color: #ffffff;
  display: none;
}

.map-pop-up iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.map-large {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal-close-map {
  position: absolute;
  border: none;
  background-color: transparent;
  background-image: url(../img/close.png);
  background-repeat: no-repeat;
  height: 21px;
  width: 21px;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.modal-map-show,
.modal-window-show {
  display: block;
}

.modal-catalog {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  width: 620px;
  margin: 0 auto;
  border-top: 7px solid #ee3643;
  font-size: 30px;
  line-height: 30px;
  display: none;

  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -308px;
  margin-top: -90px;
}

.added-to-cart {
  width: 620px;
  height: 100px;
  padding-top: 65px;
}

.added-icon {
  display: block;
  margin: 0;
  height: 66px;
  width: 66px;
  background-image: url(../img/add-to-cart.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -18px;
  left: -32px;
}

.added-text {
  display: block;
  width: 325px;
  margin: 0;
  padding-left: 56px;
  position: relative;
  margin: 0 auto;
}

.added-to-cart-bottom {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  height: 112px;
}

.place-order {
  width: 220px;
  text-align: center;
  margin-left: 80px;
}

.continue-shopping {
  color: #000000;
  background-color: #ffffff;
  width: 220px;
  margin-left: 20px;
}

.continue-shopping:hover,
.continue-shopping:focus,
.continue-shopping:active {
  color: #000000;
  background-color: #ffffff;
}

.modal-close-cart {
  position: absolute;
  border: none;
  background-color: transparent;
  background-image: url(../img/close.png);
  background-repeat: no-repeat;
  height: 21px;
  width: 21px;
  top: 9px;
  right: 9px;
}

.modal-cart-show {
  display: block;
}

.item-added-to-cart {
  background-color: #ee3643;
}
