body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.page-header {
  background-color: #f3f7f9;
}

.header-top {
  background-color: #293449;
  height: 42px;
}

.logo {
  font-size: 24px;
  line-height: 24px;
  color:#ffffff;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
  text-transform: uppercase;

  text-align: center;
  display: block;
  width: 220px;
  height: 40px;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
  border-bottom: 5px solid #9a212a;
}

.logo:active {
  background-color: #ba2732;
  border-bottom: 5px solid #8e1e26;
}

.search-field {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.search-field:hover {
  background-color: #212a3a;
}

.search input {
  background-color: #293449;
  border:none;
}

.search input:hover {
  background-color: #212a3a;
}

.search input:focus {
  font-family: inherit;
  background-color: #ffffff;
  outline: none;
  border: none;
}

.store-nav {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.store-nav:hover,
.store-nav:focus {
  background-color: #212a3a;
}

.store-nav:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.order {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #63a63e;

  width: 150px;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;
}

.order:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #518534;
}

.header-middle {
 width: 940px;
 margin: 0 auto;

 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 padding-top: 45px;
}

.main-heading {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;

  width: 300px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;

  width: 300px;
  display: block;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.login-list-main {
  list-style: none;

  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.login-list-main-item a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.login-list-main-item a:hover,
.login-list-main-item a:focus {
  color: #ee3643;
}

.login-list-main-item a:active {
  color: #000000;
  opacity: 0.3;
}

.main-nav {
  background-color: #32425c;
  border-bottom: 5px solid #293449;

  width: 940px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.navigation-list {
  list-style: none;

  display: flex;
  justify-content: space-around;

  margin: 0;
  padding: 0;
}

.navigation-list a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
}

.navigation-list a:hover,
.navigation-list a:focus {
  background-color: #293449;
}

.navigation-list a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.main {
  background-color: #ffffff;
}

.service-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.services-list-materials {
  background-color: #ffbf47;
}

.services-list-tools {
  background-color: #3bbce3;
}

.services-list-technics {
  background-color: #dc91d8;
}

.services-list-sale {
  background-color: #8ed78f;
}

.services-list-delivery {
  background-color: #ffc047;
}

.services-list .add-info {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(229, 229, 229, 0.1);
  text-transform: uppercase;
}

.services-list .add-info:hover,
.services-list .add-info:focus {
  background-color: rgba(229, 229, 229, 0.2);
}

.services-list .add-info:active {
  background-color: rgba(229, 229, 229, 0.3);
}

.slider-item-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}

.slide-description {
  font-family: "PT-Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.catalog-link {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.catalog-link:hover,
.catalog-link:focus {
  background-color: #ca2c37;
}

.catalog-link:active {
  background-color: #ba2732;
}

.popular-goods-block,
.popular-manufacturers-block {
  background-color: #f9f5f0;
  margin-bottom: 20px;
}

.popular-goods-title,
.popular-manufacturers-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.goods-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.popular-manufacturers-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.goods-list li,
.popular-manufacturers-list li {
  border: 1px solid #eaeaea;
}

.goods-list li:hover {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.good-title {
  font-family:"PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.goods-price-old {
  font-family:"PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #a9a9a9;
  text-decoration: line-through;
}

.goods-price-new {
  font-family:"PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: #ee3643;
}

.popular-manufacturers-list li:hover {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.popular-manufacturers-list li:active {
  box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.supplies {
  background-color: #f4f8f9;
  padding-top: 65px;
  padding-bottom: 100px;
  margin-bottom: 82px;
}

.supplies-block-title {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.supplies-info {
  font-family:"PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  margin: 0;
  padding: 0;
}

.supplies-list {
  list-style: none;

  margin: 0;
  padding: 0;
  margin-right: 80px;
  display: block;
}

.supplies-list-link {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;

  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  background-color: #32425c;
}

.supplies-list-link:hover,
.supplies-list-link:focus {
  background-color: #293449;
}

.supplies-list-link:active,
.supplies-list-link-current {
  color: #32425c;
  background-color: #ffffff;
  border: none;
}

.supplies-list-link-current:hover,
.supplies-list-link-current:focus {
  background-color: #ffffff;
}

.supplies-description-title {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;

  margin: 0;
  padding: 0;
}

.supplies-description-info {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.about-us-title {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.about-us-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.delivery-companies-list {
  list-style: none;
  margin: 0;
}

.delivery-companies-list li {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.about-us-link {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  width: 220px;
  text-align: center;
}

.footer-top {
  background-color: #32425c;
}

.footer-address {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;

  padding: 0;
  margin: 0;
  margin-top: 30px;
  width: 350px;
}

.footer-list {
  list-style: none;
  width: 560px;
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.footer-list a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-list-yellow a {
  font-size: 18px;
  line-height: 24px;
  color: #ffda96;
}

.footer-list a:hover,
.footer-list a:focus,
.footer-list-yellow a:hover,
.footer-list-yellow a:focus {
  text-decoration: underline;
}

.footer-list a:active,
.footer-list-yellow a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-bottom {
  background-color: #293449;

  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-bottom-text {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  display: block;
  width: 230px;
  padding: 0;
}

.social-media-list {
  list-style: none;

  margin: 0;
  padding: 0;
  margin-left: auto;
}

.social-media-list a {
  background-color: #212a3a;
}

.social-media-list a:hover,
.social-media-list a:focus,
.social-media-list a:active {
  background-color: #ee3643;
}

.footer-feedback {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  display: block;
  width: 150px;
  text-align: left;
}
.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  display: block;
  width: 150px;
  text-align: right;
}

.link-to {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.link-to:hover,
.link-to:focus {
  text-decoration: underline;
}
.link-to:active {
  text-decoration: none;
  color: #ee3643;
}


.modal-window {
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ff5357;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 620px;
  margin: 0 auto;
}

.your-name {
  font-size: 18px;
  line-height: 18px;
  color: #000000;

  display: block;
  width: 80px;
}

.your-email {
  font-size: 18px;
  line-height: 18px;
  color: #000000;

  display: block;
  width: 80px;
}

.your-message {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.write-us-form input,
.message-field{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
  border: 2px solid #dee3e4;
}

.modal-bottom {
  border: none;
  background-color: #f4f4f4;
}

.write-us-form input[type=submit] {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
}

.write-us-form input[type=submit]:hover,
.write-us-form input[type=submit]:focus {
  background-color: #ca2c37;
}

.write-us-form input[type=submit]:active {
  background-color: #ba2732;
}

.map-pop-up {
  box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

/*Стили каталога*/


.login-block div:first-child {
  background-color: #ffffff;
}

.login-block-item a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.login-block-item a:hover,
.login-block-item a:focus {
  color: #ee3643;
}

.login-block-item a:active {
  color: #000000;
  opacity: 0.3;
}

.login-block-item-account a:first-child:hover,
.login-block-item-account a:first-child:focus
 {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.login-block-list-item a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.login-block-list-item a:hover,
.login-block-list-item a:focus {
  color: #ee3643;
}

.login-block-list-item a:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-catalog {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs {
  list-style: none;

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 380px;
  margin-bottom: 25px;
}

.breadcrumbs a,
.filter-manufacturers-title{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.perforators-block {
  background-color: #f2f6f8;

  width: 940px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.perforators-block-title{
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  display: block;
}

.filter-block {
  background-color: #f7f3ec;
}

.manufacturers-form-fieldset {
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.manufacturers-form-fieldset:last-of-type {
  border: none;
}

.filter-legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter-input-label {
  font-size: 15px;
  line-height: 20px;
}

.manufacturers-form input[type=submit] {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
}

.sort-list {
  list-style: none;
}

.sort-list a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sort-list a:hover,
.sort-list a:focus {
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid #ee3643;
}

.sort-list a:active {
  color: rgba(238, 54, 67, 1);
  border: none;
}

.page-switcher {
  list-style: none;
}

.page-switcher li:first-child a {
  border: none;
}

.page-switcher-item a:hover,
.page-switcher-item a:focus {
  border: 1px solid #bdc6ca;
}


.page-switcher-item a:active {
  border: 1px solid #ee3643;
}

.page-switcher a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  border: 1px solid #e5e5e5;
}

.page-switcher-current a,
.page-switcher-current a:hover,
.page-switcher-current a:focus,
.page-switcher-current a:active {
  background-color: #ee3643;
  border: none;
}

.page-switcher-current a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.about-perforators {
  background-color: #f2f6f8;
}

.about-perforators-text {
  font-size: 13px;
  line-height: 24px;
  text-transform: none;

  margin: 0;
  padding: 0;
}

/*Сетки*/

.header-top-wrapper {
  width: 940px;
  display: flex;
  margin: 0 auto;
}

.search {
  width: 270px;
}

.store-nav-bookmarks {
  width: 140px;
}

.store-nav-cart {
  width: 160px;
}

.contacts {
  width: 300px;
  margin-right: 20px;

  margin: 0;
  padding: 0;
}

/*Услуги начало*/
.features {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding-top: 60px;
}

.services-list {
  width: 300px;
  height: 125px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.horizontal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 620px;
}

.vertical {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 300px;
}


/*Популярные товары*/

.popular-goods {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.goods-list-item {
  width: 220px;
}

/*Популярные производители*/

.popular-manufacturers {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 65px;
}

.popular-manufacturers-list-item {
  width: 220px;
  height: 140px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/*Сервисы*/

.supplies-container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.services-block {
  width: 400px;
  margin-bottom: 75px;
  margin-right: 400px;
}

.supplies-list-item {
  width: 240px;
}

.supplies-description-block {
  display: none;
}

.supplies-description-current {
  display: block;
}

.supplies-description-shipping {
  width: 275px;
}

.supplies-description-guarantee {
  width: 380px;
}

.supplies-description-loan {
  width: 280px;
}

/*О нас*/

.about-us {
  display:flex;
  margin: 0 auto;
  width: 940px;
  margin-bottom: 85px;
}

.about-us-wrapper {
  width: 940px;
  display: flex;
  justify-content: space-between;
}

.about-us-left {
  display: flex;
  flex-direction: column;
}

.about-us-right {
  display: flex;
  flex-direction: column;
}

/*Футер*/

.page-footer {
  background-color: #32425c;
}

.footer-top-center {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding-bottom: 50px;
}


.footer-top-wrap {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.footer-top-bottom-wrap {
  margin-top: 45px;
}

.logo-footer {
  height: 65px;
}

.footer-list-yellow {
  width: 540px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-left: 20px;

}

.footer-bottom-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

/*Модальное окно*/

.half-width {
  display: flex;
  justify-content: space-between;
  width: 330px;
}

.send-btn {
  width: 450px;
}

/*Стили каталога*/

.catalog-container {
  width: 940px;
  margin: 0 auto;
  padding-top: 25px;
}

.login-block {
  width: 300px;
}

.login-block-item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.login-block-item-myaccount {
  width: 300px;
  display: block;
  margin-bottom: 10px;
}

/*Хлебные крошки*/

/*Каталог*/
.catalog-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-block {
  width: 700px;
}

.manufacturers-form-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-block {
  width: 220px;
}

.filter-sort {
  display: flex;
  width: 700px;
  justify-content: space-between;

  height: 40px;
  margin-bottom: 20px;
}

.filter {
  width: 220px;
}

.filter-manufacturers-title {
  margin: 0;
}

.power-type {
  margin-bottom: 60px;
}

.sort-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 470px;
}

.goods-list-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
  margin-bottom: 30px;
}

.goods-list-catalog-item {
  margin-bottom: 20px;
}

.page-switcher {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 300px;
  margin-bottom: 60px;
}

/*О Перфораторах*/

.about-perforators-wrapper {
  padding-top: 65px;
  padding-bottom: 70px;
  width:940px;
  margin: 0 auto;
}

/*Реализация слайдера*/

.slider {
  width: 620px;
 position: relative;
}

.slider-inner {
  overflow: hidden;
}

.slides {
  width: 200%;
  transition: transform 0.8s ease;
}

.slider-item-title {
  margin: 0;
  padding: 0;
}

.slider-perforator,
.slider-drill {
  width: 620px;
  float:left;
}

.slide-label {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.8);
    margin: 0 2px;
    cursor: pointer;
    border: 4px solid #ffffff;
}

.input-slide {
  display: none;
}

.input-slide-1:checked ~ .slider-navigation label[for="arrow-left"],
.input-slide-2:checked ~ .slider-navigation label[for="arrow-right"] {
  background-color: #ee3643;
}

.input-slide-1:checked ~ .slider-inner .slides {
  transform: translate(0);
}

.input-slide-2:checked ~ .slider-inner .slides {
  transform: translate(-620px);
}

.visually-hidden {
  display: none;
}
